[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = git://github.com/bruce/puppet-vcsrepo.git
[submodule "htmlpad"]
	path = htmlpad
	url = git://github.com/hackasaurus/htmlpad.git
[submodule "hackasaurus.org"]
	path = hackasaurus.org
	url = git://github.com/hackasaurus/hackasaurus.org.git
